@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.home {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.slick-slide img {
  width: 100%;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.slick-next:before,
.slick-prev:before {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: black !important;
}

.slick-next:before {
  content: '>';
}

.slick-prev:before {
  content: '<';
}

.home__container {
  margin-bottom: -22%;
}


.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__backToTop {
  padding: 14px 0;
  font-size: 13px;
  width: 100vw;
  text-align: center;
  color: #fff;
  background-color: rgba(55, 71, 90);
  cursor: pointer;
}

.home__backToTop:hover {
  background-color: rgba(55, 71, 90, 0.9);
}

.home__footerNav {
  font-size: 13px;
  background-color: rgba(35, 47, 62);
  color: #fff;
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 30px 0;
}

.home__footerNavLink {
  display: flex;
  flex-direction: column;
  margin: 0 40px;

}

.home__footerNavLinkTitle {
  margin-bottom: 10px;
  min-width: 120px;
}

.home__footerNavLinkName {
  margin-bottom: 7px;
  color: #dddddd;
}

.home__footerNavBottom {
  background-color: rgba(19, 26, 34);
  width: 100vw;
  color: #fff;
  font-size: 11px;
  display: flex;
  justify-content: center;
}

.home__footerNavBottomContent {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  min-width: 100px;
}

.home__footerNavBottomTitle {
  color: #dddddd;
  font-weight: 700;
  font-size: 10px !important;
}

.home__footerNavBottomName {
  color: #999999;
}

.home__footerCopyRight {
  background-color: rgba(19, 26, 34);
  width: 100vw;
  color: white;
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding: 20px;
  height: 60px;
}

.home__footerCopyRightContent {
  color: #dddddd;
  padding: 0 7px;
}

.home__footerCopyRightYear {
  margin-left: 10px;
  color: #767676;
}