* {
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(234, 237, 237);
  font-family: "Amazon Ember", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}